.parts-manager {
  width: 100%;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.new-piece-button {
  border-radius: 8px;
  text-align: center;
  background-color: #27ae60;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  height: 50%;
  width: 120px;
}

.parts-table {
  border-radius: 8px;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.parts-table-head {
  display: table-header-group;
  vertical-align: middle;
  background-color: #ecf0f1;
}

.piece-actions {
  display: flex;
  justify-content: start;
  gap: 16px;
}

.edit-button,
.exclude-button {
  padding: 6px 10px;
  width: 72px;
  color: white;
  border-radius: 8px;
}

.edit-button {
  background-color: #2980b9;
}

.exclude-button {
  background-color: #c0392b;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.piece-modal {
  background-color: white;
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.piece-modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
}

.piece-modal-form {
  display: flex;
  flex-direction: column;
}

.name-label,
.category-label,
.supplier-label,
.price-label {
  margin-bottom: 0px;
}

.name-input,
.category-input,
.supplier-input,
.price-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 10px;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-register,
.cancel-register {
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 8px;
}

.confirm-register {
  background-color: #27ae60;
  margin-bottom: 8px;
}

.cancel-register {
  background-color: #e74c3c;
}
